.palette-container{
    display: flex;
    position: relative;
}

.btn-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    z-index: 99999;
    background-color: #00124f;
}

.space{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    top: 50%;
}

.palette{
    width: 20%;
    display: flex;
    height: calc(100vh - 58px);
}

.inside-palette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-is-blocked,.btn-not-blocked{
    display: flex;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: fit-content;
    opacity:1;
}

.btn-is-blocked,.btn-not-blocked:hover{
  opacity: 0.8;
  cursor: pointer;
}

.btn-remove{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: auto;
    width: fit-content;
    margin: auto 0 0 0;
}

.btn-add{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: auto;
    width: fit-content;
    margin: 0 0 0 auto;
}

.dragMe{
     display: flex;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    transform: scale(0.7);
    width: fit-content;
    margin: 10px;
}

.refTochange{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    border: none;
}

input[type="color"] {
    appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  border: 5px solid white;
}


::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
  border-radius: 50%;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
  border-radius: 50%;
}

::-moz-focus-inner{
  padding: 0;
  border-radius: 50%;
}

.copyValue {
    position: absolute;
    top: 10%;
    background: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    opacity: 1;
}
.copyValue:hover{
  opacity: 0.8;
  cursor: pointer;
}

.copyToClipBoard{
    position: absolute;
    top: 6%;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
}